@use "../base/templates" as *;
@use "../base/media" as *;
.s-events {
  .sect-body {
    overflow: hidden;
  }
  &__slider-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__slider {
    @include laptop-min {
      width: 100%;
      overflow: visible !important;
    }
    .swiper-slide {
      box-sizing: border-box;
      height: auto !important;
      @include laptop-min {
        width: 370px !important;
        max-width: 100%;
      }
    }
  }
  &__slider-next {
    @include laptop-min {
      display: none;
    }
  }
}
