@use '../base/templates' as *;
@use '../base/media' as *;

.s-partners {
  .sect-body {
    overflow: hidden;
  }
  &__slider {
    overflow: visible !important;

    .swiper-wrapper {
      align-items: center;
      transition-timing-function: linear;
    }
  }
  &__slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 200px !important;
    max-width: 100%;

    img {
      display: block;
    }
  }
}
