@use "../base/templates" as *;
@use "../base/media" as *;

.s-portfolio {
  position: relative;
  z-index: 2;

  .sect-body {
    overflow: hidden;
  }
  &__slider {
  }
  &__slider-wrapper {
    @media (min-width: 992px) {
      gap: 20px;
      flex-wrap: wrap;
    }
  }
  &__item {
    @media (min-width: 992px) {
      width: calc(50% - 10px) !important;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      &:nth-child(n + 5) {
        display: none !important;
        opacity: 0;
        transform: translateY(20px);
      }
    }
    &._open {
      display: block !important;
    }
    &._show {
      opacity: 1;
      transform: translateY(0);
    }

    @include laptop-min {
      width: 570px !important;
      max-width: 100%;
    }
  }
  &__btn-more {
    width: 100%;
    margin-top: 40px;
    @include laptop-min {
      display: none;
    }
  }
  &__gallery {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__gallery-slider {
    width: 100%;
    flex: 1;
    @include laptop-min {
      overflow: visible !important;
      width: 100%;
    }
  }
  &__gallery-slide {
    box-sizing: border-box;
    width: calc(50% - 10px) !important;
    max-width: 100%;
    @include laptop-min {
      width: 570px !important;
    }
  }
  &__gallery-next {
    @include laptop-min {
      display: none;
    }
  }
}
