<section class="s-portfolio sect _white">
  <div class="sect-body sect-p">
    <div class="container">
      <div class="sect-head">
        <div
          data-aos="fade-right"
          data-aos-delay="300"
          class="sect-head__subtitle"
        >
          { результат }
        </div>
        <div
          data-aos="fade-right"
          data-aos-duration="300"
          data-aos-delay="300"
          class="s-title"
        >
          Примеры уличных выставочных стендов
        </div>
      </div>
      <div class="s-portfolio__gallery">
        <div class="swiper s-portfolio__gallery-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-portfolio__gallery-slide">
              <div class="card-portfolio">
                <div class="swiper card-portfolio__slider">
                  <div class="swiper-wrapper">
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                  </div>
                </div>
                <div class="card-portfolio__body">
                  <span class="title">
                    Золотая осень 2025, Москва, Тимирязев центр
                  </span>
                  <div class="slider-arrows">
                    <div class="slider-arrow _prev">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                      </svg>
                    </div>
                    <div class="slider-arrow _next">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-next"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__gallery-slide">
              <div class="card-portfolio">
                <div class="swiper card-portfolio__slider">
                  <div class="swiper-wrapper">
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                  </div>
                </div>
                <div class="card-portfolio__body">
                  <span class="title">
                    Золотая осень 2025, Москва, Тимирязев центр
                  </span>
                  <div class="slider-arrows">
                    <div class="slider-arrow _prev">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                      </svg>
                    </div>
                    <div class="slider-arrow _next">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-next"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__gallery-slide">
              <div class="card-portfolio">
                <div class="swiper card-portfolio__slider">
                  <div class="swiper-wrapper">
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                  </div>
                </div>
                <div class="card-portfolio__body">
                  <span class="title">
                    Золотая осень 2025, Москва, Тимирязев центр
                  </span>
                  <div class="slider-arrows">
                    <div class="slider-arrow _prev">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                      </svg>
                    </div>
                    <div class="slider-arrow _next">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-next"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__gallery-slide">
              <div class="card-portfolio">
                <div class="swiper card-portfolio__slider">
                  <div class="swiper-wrapper">
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-1.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-1.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/portfolio-2.jpg"
                      data-fancybox
                      class="swiper-slide card-portfolio__slide"
                    >
                      <img src="@img/portfolio-2.jpg" alt="image" />
                    </a>
                  </div>
                </div>
                <div class="card-portfolio__body">
                  <span class="title">
                    Золотая осень 2025, Москва, Тимирязев центр
                  </span>
                  <div class="slider-arrows">
                    <div class="slider-arrow _prev">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                      </svg>
                    </div>
                    <div class="slider-arrow _next">
                      <svg>
                        <use xlink:href="img/icons/icons.svg#icon-next"></use>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow _next _big _gray s-portfolio__gallery-next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
      <div class="slider-pagination _dark _lap"></div>
    </div>
  </div>
</section>
