<section class="s-steps sect-m">
  <div class="container">
    <div class="sect-head">
      <div data-aos="fade" class="sect-head__subtitle">{ что мы делаем }</div>
      <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">
        Мы оказываем полный комплекс услуг
      </h2>
    </div>
    <div class="s-steps__grid _standart">
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">1</div>
        <div class="text">Конструкция шатров из алюминиевого профиля, выдерживает большие нагрузки</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">2</div>
        <div class="text">Крыша — синтетическая матовая ткань белого цвета, непромокаемая, прочная, защитит от любой непогоды</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">3</div>
        <div class="text">Стены шатров могут как быть глухими, так и с окнами, для  VIP-мероприятий используются стеклянные панели</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">4</div>
        <div class="text">Организация пола в шатрах осуществляется при помощи фанеры и любого напольного покрытия</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">5</div>
        <div class="text">Организация пола в шатрах осуществляется при помощи фанеры и любого напольного покрытия</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">6</div>
        <div class="text">Конструкция шатров из алюминиевого профиля, выдерживает большие нагрузки</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">7</div>
        <div class="text">Крыша — синтетическая матовая ткань белого цвета, непромокаемая, прочная, защитит от любой непогоды</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">8</div>
        <div class="text">Стены шатров могут как быть глухими, так и с окнами, для  VIP-мероприятий используются стеклянные панели</div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
