:root {
  --black: #0f1115;
  --black-l: #1a1d22;
  --white: #f5f7fa;
  --light: #f0f0f0;

  --smoke: #a9b4c3;
  --white-smoke: #e5e5e6;
  --neutral: #5b5b5b;

  --blue-gray: #dde3ee;
  --primary: #0485fa;
  --primary-d: #248ff0;
  --blue: #66f0ff;

  --ink: #0a2035;
  --cobalt: #147bd8;
}
