<header class="header _simple">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__top">
				<div class="header__top-wrapper">
					<a href="/" class="header__logo">
						<img src="@img/logo.svg" alt="logo" />
					</a>
					<div class="header__form-search">
						<form action="#" class="form-search">
							<input
								placeholder="Поиск по сайту..."
								type="text"
								class="form-search__input"
							/>
							<button type="submit" class="form-search__submit">
								<svg>
									<use xlink:href="img/icons/icons.svg#icon-search"></use>
								</svg>
							</button>
						</form>
					</div>
					<div class="header__address">
						<div class="address">г. Казань, ул. Дубравная , д. 1/104к1</div>
						<div class="work-time">ежедневно с 08:00 до 20:00</div>
					</div>
					<div class="header__social">
						<div class="header__social-items">
							<a
								href="#"
								target="_blank"
								rel="nofollow"
								class="header__social-item"
							>
								<svg>
									<use xlink:href="img/icons/icons.svg#icon-tg"></use>
								</svg>
							</a>
							<a
								href="#"
								target="_blank"
								rel="nofollow"
								class="header__social-item"
							>
								<svg>
									<use xlink:href="img/icons/icons.svg#icon-max"></use>
								</svg>
							</a>
						</div>
						<a href="mailto:info@expo-ees.ru" class="header__mail">
							info@expo-ees.ru
						</a>
					</div>
					<div class="header__tels">
						<div class="header__tel-btn">
							<img src="@img/tel.svg" alt="icon">
						</div>
						<div class="header__tels-grid">
							<a href="tel:+79872978845" class="header__tel">+7 (987) 297-88-45</a>
							<a href="tel:+79872978845" class="header__tel">+7 (987) 297-88-45</a>
							<a href="tel:+79872978845" class="header__tel">+7 (987) 297-88-45</a>
							<a href="tel:+79872978845" class="header__tel">+7 (987) 297-88-45</a>
						</div>
					</div>
					<div class="header__burger-btn" id="burger-toggle">
						<div></div>
						<div></div>
					</div>
				</div>
      </div>
			<div class="header__bottom">
				<div class="header__bottom-wrapper">
					<div class="header__services">
						<a href="#" class="header__services-btn">
							<img src="@img/points.svg" alt="icon">
							<span>Наши услуги</span>
						</a>
						<div class="header__services-wrapper">
							<ul class="list header__services-list">
								<li><a href="#">Аренда шатров и тентовых конструкций</a></li>
								<li><a href="#">Аренда мультимедийного оборудования</a></li>
								<li><a href="#">Стандартные выставочные стенды</a></li>
								<li><a href="#">Аренда холодильного оборудования</a></li>
								<li><a href="#">Аренда мебели</a></li>
								<li><a href="#">Аренда климатического оборудования </a></li>
								<li><a href="#">Сцены, пресс волл, оформление галерей</a></li>
								<li><a href="#">Аренда дополнительного оборудования</a></li>
								<li><a href="#">Аренда гардероба</a></li>
								<li><a href="#">Эксклюзивные выставочные стенды</a></li>
							</ul>
						</div>
					</div>
					<nav class="header__nav">
						<ul class="list header__nav-list">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Портфолио</a></li>
							<li><a href="#">Статьи</a></li>
							<li><a href="#">О компании</a></li>
							<li><a href="#">Мероприятия</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</nav>
					<a href="#modal-feedback" data-fancybox class="btn-s header__bottom-btn">Оставить заявку</a>
				</div>
			</div>
    </div>
  </div>
</header>
