<section class="s-adv sect _black">
  <div class="container">
    <div class="sect-body sect-p">
      <div class="sect-head">
        <div data-aos="fade-right" class="sect-head__subtitle">
          { преимущества }
        </div>
        <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">
          Почему выбирают нас?
        </h2>
      </div>
      <div class="s-adv__grid">
        <article data-aos="fade-up" class="s-adv__item">
          <h3 class="s-adv__title t-title text-linear">
            Быстрые сроки изготовления и поставки
          </h3>
          <p class="s-adv__content">
            Время от создания макета до застройки вашего выставочного стенда
            минимально, сопровождение проекта на всех этапах гарантия качества и
            скорости выполнения работы
          </p>
          <img src="@img/about-adv.svg" alt="image" class="s-adv__icon" />
        </article>
        <article data-aos="fade-up" class="s-adv__item">
          <h3 class="s-adv__title t-title text-linear">
            Любое оборудование в наличии
          </h3>
          <p class="s-adv__content">
            Всегда в наличии необходимое Вам количество мебели и шатров в аренду
            на складе в Казани. Большой парк сопутствующего оборудования
          </p>
          <img src="@img/about-adv.svg" alt="image" class="s-adv__icon" />
        </article>
        <article data-aos="fade-up" class="s-adv__item">
          <h3 class="s-adv__title t-title text-linear">
            Собственное производство
          </h3>
          <p class="s-adv__content">
            Мы не размещаем заказы на стороне, все изготовление происходит на
            наших производственных мощностях, и мы отвечаем за качество того,
            что мы делаем
          </p>
          <img src="@img/about-adv.svg" alt="image" class="s-adv__icon" />
        </article>
        <article data-aos="fade-up" class="s-adv__item">
          <h3 class="s-adv__title t-title text-linear">
            Собственное производство
          </h3>
          <p class="s-adv__content">
            Мы не размещаем заказы на стороне, все изготовление происходит на
            наших производственных мощностях, и мы отвечаем за качество того,
            что мы делаем
          </p>
          <img src="@img/about-adv.svg" alt="image" class="s-adv__icon" />
        </article>
        <article data-aos="fade-up" class="s-adv__item">
          <h3 class="s-adv__title t-title text-linear">
            Быстрые сроки изготовления и поставки
          </h3>
          <p class="s-adv__content">
            Время от создания макета до застройки вашего выставочного стенда
            минимально, сопровождение проекта на всех этапах гарантия качества и
            скорости выполнения работы
          </p>
          <img src="@img/about-adv.svg" alt="image" class="s-adv__icon" />
        </article>
        <article data-aos="fade-up" class="s-adv__item">
          <h3 class="s-adv__title t-title text-linear">
            Любое оборудование в наличии
          </h3>
          <p class="s-adv__content">
            Всегда в наличии необходимое Вам количество мебели и шатров в аренду
            на складе в Казани. Большой парк сопутствующего оборудования
          </p>
          <img src="@img/about-adv.svg" alt="image" class="s-adv__icon" />
        </article>
      </div>
    </div>
  </div>
</section>
