<section class="s-blog sect-m">
  <div class="container">
    <div class="s-blog__body">
      <div class="s-blog__info">
        <div class="sect-head">
          <div data-aos="fade-right" class="sect-head__subtitle">{ блог }</div>
          <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">Статьи</h2>
        </div>
        <a href="#" class="btn-o _dark s-blog__btn">Все статьи</a>
        <div class="slider-arrows">
          <div class="slider-arrow _prev _black-l">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next _black-l">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper s-blog__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="card-blog">
              <div class="card-blog__gallery">
                <img src="@img/blog.jpg" alt="image" />
                <div class="wrap">
                  <div class="date">17.12.2026</div>
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="card-blog__title">
                «ЕвроГрупп» на выставке «DOOR CONFERENCE 2025»
              </h3>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-blog">
              <div class="card-blog__gallery">
                <img src="@img/blog.jpg" alt="image" />
                <div class="wrap">
                  <div class="date">17.12.2026</div>
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="card-blog__title">Выставка «АгроВолга 2025»</h3>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-blog">
              <div class="card-blog__gallery">
                <img src="@img/blog.jpg" alt="image" />
                <div class="wrap">
                  <div class="date">17.12.2026</div>
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="card-blog__title">
                «ЕвроГрупп» на выставке «DOOR CONFERENCE 2025»
              </h3>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-blog">
              <div class="card-blog__gallery">
                <img src="@img/blog.jpg" alt="image" />
                <div class="wrap">
                  <div class="date">17.12.2026</div>
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="card-blog__title">
                «ЕвроГрупп» на выставке «DOOR CONFERENCE 2025»
              </h3>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-blog">
              <div class="card-blog__gallery">
                <img src="@img/blog.jpg" alt="image" />
                <div class="wrap">
                  <div class="date">17.12.2026</div>
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="card-blog__title">Выставка «АгроВолга 2025»</h3>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="card-blog">
              <div class="card-blog__gallery">
                <img src="@img/blog.jpg" alt="image" />
                <div class="wrap">
                  <div class="date">17.12.2026</div>
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
              <h3 class="card-blog__title">
                «ЕвроГрупп» на выставке «DOOR CONFERENCE 2025»
              </h3>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
