<section class="s-catalog sect-m">
  <div class="container">
    <div class="sect-head">
      <div data-aos="fade-right" class="sect-head__subtitle">{ каталог }</div>
      <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">
        Популярные виды шатров в аренду
      </h2>
    </div>
    <div class="s-catalog__nav container-more" data-count-show="1000">
      <div data-more-item class="s-catalog__nav-item _current">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Диваны</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Кресла</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Стулья</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Столы</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Стойки и витрины</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Текстиль для мебели</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Диваны</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Кресла</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Стулья</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Стулья</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Столы</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Стойки и витрины</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Текстиль для мебели</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Диваны</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Кресла</span>
      </div>
      <div data-more-item class="s-catalog__nav-item">
        <img src="@img/category-furniture.svg" alt="icon" class="icon" />
        <span>Стулья</span>
      </div>
      <div data-more-btn class="s-catalog__nav-more">
        <span>Показать все</span>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-triangle"></use>
        </svg>
      </div>
    </div>
    <div class="s-catalog__grid">
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/furniture.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/furniture.jpg" alt="image" />
            </a>
            <a
              href="@img/furniture.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/furniture.jpg" alt="image" />
            </a>
            <a
              href="@img/furniture.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/furniture.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Стул Samba (Самба)</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">
            Полное описание
          </div>
          <div class="card-product__price">
            <span class="price">От 8000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Стул Samba (Самба)"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
    </div>
    <div class="btn-o btn-more _black-l">Показать еще</div>
  </div>
</section>
