<section class="s-catalog sect-m">
  <div class="container">
    <div class="sect-head">
      <div data-aos="fade-right" class="sect-head__subtitle">{ каталог }</div>
      <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">
        Популярные виды шатров в аренду
      </h2>
    </div>
    <div class="s-catalog__grid">
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий.
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-product">
        <div class="card-product__slider swiper">
          <div class="swiper-wrapper">
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
            <a
              href="@img/product.jpg"
              data-fancybox
              class="swiper-slide card-product__slide"
            >
              <img src="@img/product.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _min _fill"></div>
        </div>
        <div class="card-product__body">
          <h3 class="card-product__title c-title">Продукт: Шатер Арочный 10х10</h3>
          <p class="card-product__content card-descr">
            Аренда (прокат) арочного шатра 10 х 10 метров — один из основных
            единиц аренды шатров для мероприятий. Имеет достаточную площадь в
            100 кв.м., и высокую скорость сборки, данная конструкция дает
            возможность застраивать как небольшие, так и масштабные площади за
            счет модульной структуры. Шатер имеет привлекательный дизайн и может
            служить хорошим вариантом для организации различных праздников,
            корпоративов, event-мероприятий. 
          </p>
          <div class="card-product__btn-descr card-descr-btn">Полное описание</div>
          <div class="card-product__price">
            <span class="price">От 20 000 ₽</span>
            <span class="note">
              * Цена ориентировочная и просчитывается индивидуально
            </span>
          </div>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Продукт: Шатер Арочный 10х10"
            class="btn-o card-product__btn _transparent"
          >
            Оставить заявку
          </a>
        </div>
      </article>
    </div>
    <div class="btn-o btn-more _black-l">Показать еще</div>
  </div>
</section>
