<section class="s-event sect-m">
  <div class="container">
    <div class="s-event__wrapper">
      <div class="s-event__gallery">
        <div class="swiper s-event__slider">
          <div class="slider-pagination _fill"></div>
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-prev'></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-next'></use>
            </svg>
          </div>
          <div class="swiper-wrapper">
            <a
              href="@img/event-main.jpg"
              data-fancybox="event-gallery"
              class="swiper-slide s-event__slide"
            >
              <img src="@img/event-main.jpg" alt="image" />
            </a>
            <a
              href="@img/event-main.jpg"
              data-fancybox="event-gallery"
              class="swiper-slide s-event__slide"
            >
              <img src="@img/event-main.jpg" alt="image" />
            </a>
            <a
              href="@img/event-main.jpg"
              data-fancybox="event-gallery"
              class="swiper-slide s-event__slide"
            >
              <img src="@img/event-main.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
      <div class="s-event__main">
        <div class="sect-head">
          <h1 class="s-title">МВЦ «Казань Экспо»</h1>
        </div>
        <div class="content s-event__content" data-text-toggle="event-content" data-rows="12">
          <p>
            Международный выставочный центр «Казань Экспо» является одним из
            крупнейших выставочных комплексов в России. Он расположен в городе
            Казани и занимает площадь более 35 тысяч квадратных метров.
          </p>
          <p>
            Центр предоставляет уникальные условия для проведения различных
            мероприятий, включая конференции, семинары, выставки, фестивали и
            другие мероприятия. Каждый год в «Казань Экспо» приезжают тысячи
            участников и посетителей со всего мира.
          </p>
          <p>
            Одной из главных преимуществ центра является его современная
            инфраструктура, которая позволяет проводить мероприятия любого
            уровня сложности. В «Казань Экспо» есть все необходимые услуги для
            организации мероприятий: отлично оснащенные конференц-залы,
            выставочные площадки, кафе и рестораны, парковка и многое другое.
          </p>
          <p>
            Особое внимание в «Казань Экспо» уделяется оформлению пространства.
            Профессиональные дизайнеры и декораторы помогают создать уникальную
            атмосферу и подчеркнуть тематику мероприятия. Они подбирают цветовую
            гамму, материалы для отделки, размещают выставочные стенды и создают
            общую атмосферу, которая будет соответствовать теме мероприятия.
          </p>
          <p>
            Кроме того, «Казань Экспо» предоставляет услуги по организации
            деловых встреч и переговоров. В центре есть специально оборудованные
            зоны для проведения переговоров, где можно провести встречи с
            партнерами и клиентами, обсудить проекты и заключить сделки.
            Международный выставочный центр «Казань Экспо» является важным
            центром для развития бизнеса и культурного обмена в России. Он
            предоставляет уникальные возможности для обмена опытом, знаниями и
            новыми идеями, что способствует развитию экономики и культурных
            связей между странами. Он расположен в городе Казани и занимает
            площадь более 35 тысяч квадратных метров.
          </p>
        </div>
        <div data-btn-text-toggle="event-content" class="btn-simple s-event__btn-more">Полное описание</div>
        <div class="s-event__buttons">
          <a href="#" class="btn-s">Расписание выставок</a>
          <a href="#" class="btn-o _dark">Сайт площадки</a>
          <a href="#" class="btn-o _border-dark">Контактная информация</a>
        </div>
      </div>
    </div>
  </div>
</section>
