<section class="s-events sect _white">
  <div class="sect-body sect-p tabs">
    <div class="container">
      <div class="sect-head">
        <div class="sect-head__subtitle">{ текущие события }</div>
        <h2 class="s-title">Мероприятия</h2>
      </div>
      <div class="s-nav tabs-nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-nav__item _active">Площадки</div>
          <div class="swiper-slide s-nav__item">Выставки</div>
        </div>
      </div>
      <div class="s-events__slider-wrapper">
        <div class="swiper s-events__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card-event">
                <div class="swiper card-event__slider">
                  <div class="swiper-wrapper">
                    <a
                      href="@img/event.jpg"
                      class="swiper-slide card-event__slide"
                    >
                      <img src="@img/event.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/event.jpg"
                      class="swiper-slide card-event__slide"
                    >
                      <img src="@img/event.jpg" alt="image" />
                    </a>
                    <a
                      href="@img/event.jpg"
                      class="swiper-slide card-event__slide"
                    >
                      <img src="@img/event.jpg" alt="image" />
                    </a>
                  </div>
                </div>
                <div class="card-event__body">
                  <div class="btn-s card-event__btn">Подробнее о площадке</div>
                  <h3 class="card-event__title">МВЦ "Казань Экспо"</h3>
                  <p class="card-event__content">
                    Международный выставочный центр «Казань Экспо» является одним
                    из крупнейших выставочных комплексов в России. Он расположен в
                    городе Казани и занимает площадь более 35 тысяч квадратных
                    метров. Он расположен в городе Казани и занимает площадь более
                    35 тысяч квадратных метров.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-arrow _next _big">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-next'></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
