<section class="s-hero sect-m">
  <div class="container">
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="#" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">
          <a href="#" title="Наши услуги">Наши услуги</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">
          Аренда шатров и тентовых конструкций
        </span>
      </div>
    </div>
    <div class="s-hero__wrapper">
      <div class="s-hero__body">
        <h1 data-aos="fade" data-aos-delay="300" class="m-title s-hero__title">
          Аренда мебели под мероприятия и выставочные стенды
        </h1>
        <p data-aos="fade-right" class="s-hero__content">
          Услуга по аренде шатров, тентовых конструкций сопровождаются услугой
          по транспортировке и монтажу оборудования. Стоимость услуг
          рассчитывается индивидуально, поскольку зависит от множества факторов:
          количество необходимого оборудования, удаленность от места проведения
          мероприятия, варианты сборки и др.
        </p>
        <a href="#modal-feedback" data-fancybox class="btn-s s-hero__btn">Оставить заявку</a>
      </div>
      <a href="@img/about-adv.svg" data-fancybox class="s-hero__play">
        <div class="btn-play">
          <div class="circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
    <div class="s-hero__gallery">
      <div class="inside">
        <a href="@img/about-adv.svg" data-fancybox class="btn-play">
          <div class="circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
        <img src="@img/hero-furniture.jpg" alt="image" />
      </div>
    </div>
    <div class="s-hero__adv">
      <div data-aos="fade-up" class="s-hero__adv-item">
        <div class="rect"></div>
        <span class="title">Всегда вовремя</span>
        <div class="text">Доставка и установка без проволочек</div>
      </div>
      <div data-aos="fade-up" data-aos-delay="100" class="s-hero__adv-item">
        <div class="rect"></div>
        <span class="title">Комплексный подход</span>
        <div class="text">Сопутствующие оборудование под рукой</div>
      </div>
      <div data-aos="fade-up" data-aos-delay="200" class="s-hero__adv-item">
        <div class="rect"></div>
        <span class="title">Качество</span>
        <div class="text">Всё чистое и в первоклассном состоянии</div>
      </div>
      <div data-aos="fade-up" data-aos-delay="300" class="s-hero__adv-item">
        <div class="rect"></div>
        <span class="title">Команда</span>
        <div class="text">От грузчиков и монтажников до клининга</div>
      </div>
    </div>
  </div>
</section>
