<section class="s-hero sect-m">
  <div class="container">
    <div class="breadcrumbs">
      <div class="aioseo-breadcrumbs">
        <span class="aioseo-breadcrumb">
          <a href="#" title="Главная">Главная</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">
          <a href="#" title="Наши услуги">Наши услуги</a>
        </span>
        <span class="aioseo-breadcrumb-separator">»</span>
        <span class="aioseo-breadcrumb">
          Аренда шатров и тентовых конструкций
        </span>
      </div>
    </div>
    <div class="s-hero__wrapper">
      <div class="s-hero__body">
        <h1 data-aos="fade" data-aos-delay="300" class="m-title s-hero__title">
          Аренда шатров и тентовых конструкций
        </h1>
        <p data-aos="fade-right" class="s-hero__content">
          Услуга по аренде шатров, тентовых конструкций сопровождаются услугой
          по транспортировке и монтажу оборудования. Стоимость услуг
          рассчитывается индивидуально, поскольку зависит от множества факторов:
          количество необходимого оборудования, удаленность от места проведения
          мероприятия, варианты сборки и др.
        </p>
        <ul class="list s-hero__list _fill">
          <li>Создание имиджа компании</li>
          <li>Возможность в краткие сроки выйти на нужные уровни B2B, B2C</li>
          <li>Заключение коммерческих договоров «здесь и сейчас»</li>
        </ul>
        <div class="s-hero__note">
          <div class="val">От 20 000 руб. за кв.м.</div>
          <div class="text">
            * Цена ориентировочная и просчитывается индивидуально
          </div>
        </div>
      </div>
      <a href="@img/about-adv.svg" data-fancybox class="s-hero__play">
        <div class="btn-play">
          <div class="circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </div>
      </a>
    </div>
    <div class="s-hero__gallery">
      <div class="inside">
        <a href="@img/about-adv.svg" data-fancybox class="btn-play">
          <div class="circle">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-play'></use>
            </svg>
          </div>
        </a>
        <img src="@img/intro-service.jpg" alt="image" />
      </div>
    </div>
    <div class="b-order">
      <h3 class="b-order__title">
        Заказать аренду шатра и тентовых конструкций
      </h3>
      <form action="#" class="b-order__form">
        <div class="b-order__form-grid">
          <div class="input-control">
            <input type="text" placeholder="Ваше имя" class="input" />
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Ваш номер телефона" class="input" />
          </div>
          <div class="input-control">
            <input type="text" placeholder="Укажите ваш город" class="input" />
          </div>
          <div type="submit" class="btn-s">Оставить заявку</div>
        </div>
        <div class="check-wrapper">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-377">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-377"
                    value="1"
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я соглашаюсь с
                      <a href="#" target="_blank">
                        Правилами обработки персональных данных
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>
