<section class="s-intro">
  <div class="container">
    <div
      class="video-bg"
      style="
        background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
      "
    >
      <video
        data-src="./files/video.mp4"
        muted
        playsinline
        autoplay
        loop
        class="video"
      ></video>
    </div>
    <div class="s-intro__body">
      <h1
        data-aos="fade"
        data-aos-duration="1200"
        data-aos-delay="300"
        class="m-title s-intro__title"
      >
        Изготовление эксклюзивных выставочных стендов в Казани
      </h1>
      <div class="s-intro__info" data-aos="fade" data-aos-duration="1000" data-aos-delay="500">
        <p class="s-intro__content">
          На выставках и конференциях важно привлечь внимание потенциальных
          клиентов и партнеров
        </p>
        <a href="#" class="btn-s s-intro__btn">Подробнее</a>
      </div>
    </div>
  </div>
</section>
