<section class="s-partners sect _black _top">
  <div class="sect-body sect-p ">
    <div class="container">
      <div class="sect-head _center">
        <div data-aos="fade" class="sect-head__subtitle _center">{ наши клиенты }</div>
        <h2 data-aos="fade" data-aos-delay="400" class="s-title">Нам доверяют впечатления</h2>
      </div>
      <div class="swiper s-partners__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
          <div class="swiper-slide s-partners__slide">
            <img src="@img/partner.png" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>