<section class="s-portfolio sect-p _radius _white">
  <div class="container tabs">
    <div class="sect-head">
      <div
        data-aos="fade-right"
        data-aos-delay="300"
        class="sect-head__subtitle"
      >
        { проекты }
      </div>
      <div
        data-aos="fade-right"
        data-aos-duration="300"
        data-aos-delay="300"
        class="s-title"
      >
        Наше портфолио
      </div>
    </div>
    <div class="swiper s-nav tabs-nav">
      <div class="swiper-wrapper">
        <div
          data-tab-btn="portfolio-tab-1"
          class="swiper-slide s-nav__item _active"
        >
          Все проекты
        </div>
        <div data-tab-btn="portfolio-tab-2" class="swiper-slide s-nav__item">
          Выставочные стенды
        </div>
        <div data-tab-btn="portfolio-tab-3" class="swiper-slide s-nav__item">
          Шатры
        </div>
        <div data-tab-btn="portfolio-tab-4" class="swiper-slide s-nav__item">
          Оформление мероприятий
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div data-tab="portfolio-tab-1" class="_active _show">
        <div class="swiper s-portfolio__slider">
          <div class="swiper-wrapper s-portfolio__slider-wrapper">
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-1"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-1"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-1"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-1"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-2"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-2"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-2"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-2"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Тимирязев центр, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-3"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-3"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-3"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-3"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-4"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-4"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-4"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-4"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Тимирязев центр, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-5"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-5"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-5"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-5"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-6"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-6"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-6"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-6"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Тимирязев центр, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-7"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-7"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-7"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-7"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-8"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-8"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-8"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-8"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Тимирязев центр, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-pagination _lap _dark"></div>
        <div class="btn-o s-portfolio__btn-more">Показать ещё</div>
      </div>
      <div data-tab="portfolio-tab-2">
        <div class="swiper s-portfolio__slider">
          <div class="swiper-wrapper s-portfolio__slider-wrapper">
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-12"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-12"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-12"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-12"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-23"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-23"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-23"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-23"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Тимирязев центр, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-34"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-34"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-34"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-34"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-pagination _lap _dark"></div>
        <div class="btn-o s-portfolio__btn-more">Показать ещё</div>
      </div>
      <div data-tab="portfolio-tab-3">
        <div class="swiper s-portfolio__slider">
          <div class="swiper-wrapper s-portfolio__slider-wrapper">
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-21"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-21"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-21"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-21"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-32"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-32"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-32"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-32"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Тимирязев центр, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-pagination _lap _dark"></div>
        <div class="btn-o s-portfolio__btn-more">Показать ещё</div>
      </div>
      <div data-tab="portfolio-tab-4">
        <div class="swiper s-portfolio__slider">
          <div class="swiper-wrapper s-portfolio__slider-wrapper">
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-41"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-41"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-41"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-41"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-52"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-52"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-52"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-52"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Тимирязев центр, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide s-portfolio__item">
              <div class="swiper s-portfolio__item-slider">
                <div class="swiper-wrapper">
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-63"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-63"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-1.jpg"
                    data-fancybox="portfolio-63"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-1.jpg" alt="image" />
                  </a>
                  <a
                    href="@img/portfolio-2.jpg"
                    data-fancybox="portfolio-63"
                    class="swiper-slide s-portfolio__item-slide"
                  >
                    <img src="@img/portfolio-2.jpg" alt="image" />
                  </a>
                </div>
              </div>
              <div class="s-portfolio__item-body">
                <span class="title">
                  Золотая осень 2025, Москва, Тимирязев центр
                </span>
                <div class="slider-arrows">
                  <div class="slider-arrow _prev">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-prev"></use>
                    </svg>
                  </div>
                  <div class="slider-arrow _next">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-next"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-pagination _lap _dark"></div>
        <div class="btn-o s-portfolio__btn-more">Показать ещё</div>
      </div>
    </div>
  </div>
</section>
