<section class="s-portfolio sect-p _radius _white">
  <div class="container">
    <div class="sect-head">
      <div data-aos="fade-right" data-aos-delay="300" class="sect-head__subtitle">{ проекты }</div>
      <h2 data-aos="fade-right" data-aos-duration="300" data-aos-delay="300" class="s-title">Наше портфолио</h2>
    </div>
    <div class="swiper s-nav">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-nav__item _active">Все проекты</div>
        <div class="swiper-slide s-nav__item">Выставочные стенды</div>
        <div class="swiper-slide s-nav__item">Шатры</div>
        <div class="swiper-slide s-nav__item">Оформление мероприятий</div>
      </div>
    </div>
  </div>
</section>