<section class="s-price sect _black-l">
  <div class="sect-body sect-p">
    <div class="container">
      <div class="sect-head">
        <div class="sect-head__subtitle">{ прайс }</div>
        <h2 class="s-title">Стоимость эксклюзивного выставочного стенда</h2>
      </div>
      <div class="s-price__table-wrapper">
        <div class="s-price__table">
          <div class="s-price__table-head">
            <div class="row">
              <div class="cell">Услуга</div>
              <div class="cell">Стоимость, без учета НДС</div>
              <div class="cell">Средний срок выполнения</div>
            </div>
          </div>
          <div class="s-price__table-body">
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
            <div data-more-item class="row">
              <div class="cell">Одноэтажный эксклюзивный стенд</div>
              <div class="cell">от 20 000 руб. за кв. метр</div>
              <div class="cell">от 4 до 7 дней</div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-o btn-more _smoke">Показать еще</div>
    </div>
  </div>
</section>
