<section class="s-requisites sect _white">
  <div class="sect-body sect-p">
    <div class="container">
      <div class="sect-head">
        <div class="sect-head__wrapper">
          <div class="sect-head__info">
            <div data-aos="fade-right" class="sect-head__subtitle">
              { прайс }
            </div>
            <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">
              Наши реквизиты
            </h2>
          </div>
          <div class="sect-head__btn">
            <span>Копировать все</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__items">
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">
              Полное наименование юридического лица на русском языке
            </span>
            <span class="val">
              Общество с ограниченной ответственностью «Полное наименование»
            </span>
            <div
              class="btn-copy"
              data-copy="Общество с ограниченной ответственностью «Полное наименование»"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">
              Полное наименование юридического лица на русском языке
            </span>
            <span class="val">
              Общество с ограниченной ответственностью «Полное наименование»
            </span>
            <div
              class="btn-copy"
              data-copy="Общество с ограниченной ответственностью «Полное наименование»"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">Сокращенное наименование</span>
            <span class="val">ООО «Сокращенное наименование»</span>
            <div class="btn-copy" data-copy="ООО «Сокращенное наименование»">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">Юридический, фактический и почтовый адрес</span>
            <span class="val">
              422311, Российская Федерация, г. Казань, ул. Дубравная , д.
              1/104к1 
            </span>
            <div
              class="btn-copy"
              data-copy="422311, Российская Федерация, г. Казань, ул. Дубравная , д. 1/104к1 "
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">
              Полное наименование юридического лица на русском языке
            </span>
            <span class="val">
              Общество с ограниченной ответственностью «Полное наименование»
            </span>
            <div
              class="btn-copy"
              data-copy="Общество с ограниченной ответственностью «Полное наименование»"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">
              Полное наименование юридического лица на русском языке
            </span>
            <span class="val">
              Общество с ограниченной ответственностью «Полное наименование»
            </span>
            <div
              class="btn-copy"
              data-copy="Общество с ограниченной ответственностью «Полное наименование»"
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">Сокращенное наименование</span>
            <span class="val">ООО «Сокращенное наименование»</span>
            <div class="btn-copy" data-copy="ООО «Сокращенное наименование»">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
        <div data-aos="fade-up" class="s-requisites__item">
          <div class="wrap">
            <span class="name">Юридический, фактический и почтовый адрес</span>
            <span class="val">
              422311, Российская Федерация, г. Казань, ул. Дубравная , д.
              1/104к1 
            </span>
            <div
              class="btn-copy"
              data-copy="422311, Российская Федерация, г. Казань, ул. Дубравная , д. 1/104к1 "
            >
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-copy"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
