<section class="s-services-rec sect-m">
  <div class="container">
    <div class="sect-head">
      <div class="sect-head__subtitle">{ услуги }</div>
      <h2 class="s-title">Дополнительные услуги</h2>
    </div>
    <div class="s-services-rec__grid">
      <article class="card-addition">
        <div class="swiper card-addition__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _fill _min"></div>
        </div>
        <h3 data-fancybox class="card-addition__title c-title">
          Остекление шатров
        </h3>
        <p class="card-descr card-addition__content">
          Вместо тентового полотна, стены конструкции могут быть оформлены
          стеклянными панелями. Благодаря установке таких панелей ваш шатер
          превращается из технического помещения в VIP- павильон для реализации
          самых разных задач. А современная  система  алюминиевых
          профилей данным решениям оставаться легкими и быстро сборными, что
          несомненно повышает их ценность в аренде шатров. 
        </p>
        <div class="card-addition__btn-descr card-descr-btn">
          Полное описание
        </div>
        <div class="card-addition__price">
          <span class="price">От 20 000 ₽</span>
          <span class="note">
            * Цена ориентировочная и просчитывается индивидуально
          </span>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Услуга: Остекление шатров"
            class="btn-o _transparent card-addition__btn"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-addition">
        <div class="swiper card-addition__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _fill _min"></div>
        </div>
        <h3 data-fancybox class="card-addition__title c-title">
          Драпировка шатров
        </h3>
        <p class="card-descr card-addition__content">
          Вместо тентового полотна, стены конструкции могут быть оформлены
          стеклянными панелями.
        </p>
        <div class="card-addition__btn-descr card-descr-btn">
          Полное описание
        </div>
        <div class="card-addition__price">
          <span class="price">От 20 000 ₽</span>
          <span class="note">
            * Цена ориентировочная и просчитывается индивидуально
          </span>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Услуга: Драпировка шатров"
            class="btn-o _transparent card-addition__btn"
          >
            Оставить заявку
          </a>
        </div>
      </article>
      <article class="card-addition">
        <div class="swiper card-addition__slider">
          <div class="swiper-wrapper">
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
            <a
              href="@img/card-addition.jpg"
              data-fancybox
              class="swiper-slide card-addition__slide"
            >
              <img src="@img/card-addition.jpg" alt="image" />
            </a>
          </div>
          <div class="slider-pagination _fill _min"></div>
        </div>
        <h3 data-fancybox class="card-addition__title c-title">
          Остекление шатров
        </h3>
        <p class="card-descr card-addition__content">
          Вместо тентового полотна, стены конструкции могут быть оформлены
          стеклянными панелями. Благодаря установке таких панелей ваш шатер
          превращается из технического помещения в VIP- павильон для реализации
          самых разных задач. А современная  система  алюминиевых
          профилей данным решениям оставаться легкими и быстро сборными, что
          несомненно повышает их ценность в аренде шатров. 
        </p>
        <div class="card-addition__btn-descr card-descr-btn">
          Полное описание
        </div>
        <div class="card-addition__price">
          <span class="price">От 20 000 ₽</span>
          <span class="note">
            * Цена ориентировочная и просчитывается индивидуально
          </span>
          <a
            href="#modal-feedback"
            data-fancybox
            data-target-note="#input-feedback-note"
            data-btn-note="Услуга: Остекление шатров"
            class="btn-o _transparent card-addition__btn"
          >
            Оставить заявку
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
