<section class="s-steps sect-m">
  <div class="container">
    <div class="sect-head">
      <div data-aos="fade" class="sect-head__subtitle">{ что мы делаем }</div>
      <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">
        Мы оказываем полный комплекс услуг
      </h2>
    </div>
    <div class="s-steps__grid">
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">1</div>
        <div class="text">Разработка дизайн-проекта выставочного стенда</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">2</div>
        <div class="text">Менеджерское сопровождение проекта</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">3</div>
        <div class="text">Дизайнерское сопровождение на всех стадиях</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">4</div>
        <div class="text">Выполнение всех работ по оформлению выставочного стенда</div>
      </div>
      <div data-aos="fade-up" class="s-steps__item">
        <div class="num">5</div>
        <div class="text">Строительство выставочной экспозиции «под ключ»</div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
