<section class="s-team sect _white">
  <div class="sect-body sect-p">
    <div class="container">
      <div class="sect-head">
        <div data-aos="fade-right" class="sect-head__subtitle">{ команда }</div>
        <h2 data-aos="fade-right" data-aos-delay="300" class="s-title">
          профессионалы своего дела
        </h2>
      </div>
      <div class="s-team__slider-wrapper">
        <div class="swiper s-team__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <article class="card-team">
                <div class="card-team__gallery">
                  <img src="@img/team.png" alt="image">
                </div>
                <div class="card-team__body">
                  <h3 class="t-title name">Алексей Смирнов</h3>
                  <div class="status-post">Директор</div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="card-team">
                <div class="card-team__gallery">
                  <img src="@img/team.png" alt="image">
                </div>
                <div class="card-team__body">
                  <h3 class="t-title name">Алексей Смирнов</h3>
                  <div class="status-post">Директор</div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="card-team">
                <div class="card-team__gallery">
                  <img src="@img/team.png" alt="image">
                </div>
                <div class="card-team__body">
                  <h3 class="t-title name">Алексей Смирнов</h3>
                  <div class="status-post">Директор</div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="card-team">
                <div class="card-team__gallery">
                  <img src="@img/team.png" alt="image">
                </div>
                <div class="card-team__body">
                  <h3 class="t-title name">Алексей Смирнов</h3>
                  <div class="status-post">Директор</div>
                </div>
              </article>
            </div>
            <div class="swiper-slide">
              <article class="card-team">
                <div class="card-team__gallery">
                  <img src="@img/team.png" alt="image">
                </div>
                <div class="card-team__body">
                  <h3 class="t-title name">Алексей Смирнов</h3>
                  <div class="status-post">Директор</div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="slider-arrow _next _big _gray">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-next'></use>
          </svg>
        </div>
      </div>
      <div class="slider-pagination _lap _dark"></div>
    </div>
  </div>
</section>
