@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --background: linear-gradient(196deg, #00f5ff 0%, #0086ff 100%);
  --box-shadow: 0 0 15px 0 rgba(0, 170, 226, 0.7);
  --color: white;
  --box-shadow-h: 0 0 25px 0 rgba(0, 170, 226, 0.7);

  @include flex-center;
  cursor: pointer;
  border: none;
  padding: 19px 40px;
  border-radius: 50px;
  flex-shrink: 0;
  width: fit-content;
  -webkit-tap-highlight-color: transparent;

  user-select: none;
  box-shadow: var(--box-shadow);
  background: var(--background);

  font-weight: 500;
  font-size: 17px;
  color: var(--color);
  text-align: center;

  transition:
    box-shadow 0.3s ease,
    background 0.3s ease;

  @include hover {
    box-shadow: var(--box-shadow-h);
  }

  @include laptop-min {
    font-size: 16px;
    padding: 14px 20px;
  }
  @include tablet-min {
    font-size: 15px;
  }
}

.btn-o {
  --border: rgba(15, 17, 21, 0.2);
  --background: transparent;
  --color: var(--black);
  --box-shadow: none;

  --border-h: rgba(0, 170, 226, 0.7);
  --background-h: transparent;
  --color-h: var(--primary);
  --box-shadow-h: 0 0 15px 0 rgba(0, 170, 226, 0.7);

  @include flex-center;
  border-radius: 50px;
  border: 1px solid var(--border);
  background-color: var(--background);
  padding: 18px 39px;
  cursor: pointer;
  flex-shrink: 0;
  box-shadow: var(--box-shadow);

  width: fit-content;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  font-size: 17px;
  user-select: none;
  color: var(--color);

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  @include hover {
    color: var(--color-h);
    box-shadow: var(--box-shadow-h);
    background-color: var(--background-h);
    border-color: var(--border-h);
  }

  @include laptop-min {
    font-size: 16px;
    padding: 13px 19px;
  }
  @include tablet-min {
    font-size: 15px;
  }

  &._dark {
    --border: var(--primary-d);
    --background: var(--black);
    --color: white;
    --box-shadow: 0 0 10px 0 rgba(0, 170, 226, 0.7);

    --border-h: var(--primary-d);
    --background-h: var(--black);
    --color-h: white;
    --box-shadow-h: 0 0 15px 0 rgba(0, 170, 226, 0.7);
  }
  &._transparent {
    --border: var(--primary-d);
    --background: transparent;
    --color: white;
    --box-shadow: 0 0 10px 0 rgba(0, 170, 226, 0.7);

    --border-h: var(--primary-d);
    --background-h: transparent;
    --color-h: white;
    --box-shadow-h: 0 0 15px 0 rgba(0, 170, 226, 0.7);
  }
  &._black-l {
    --border: var(--black-l);
    --background: var(--black-l);
    --color: white;
    --box-shadow: none;

    --border-h: var(--primary-d);
    --background-h: var(--black-l);
    --color-h: white;
    --box-shadow-h: 0 0 15px 0 rgba(0, 170, 226, 0.7);
  }
  &._border-dark {
    --border: rgba(255, 255, 255, 0.1);
    --background: rgba(26, 29, 34, 0.7);
    --color: white;
    --box-shadow: none;

    --border-h: var(--primary-d);
    --background-h: var(--black-l);
    --color-h: white;
    --box-shadow-h: 0 0 15px 0 rgba(0, 170, 226, 0.7);
  }
  &._smoke {
    --border: rgba(255, 255, 255, 0.1);
    --background: transparent;
    --color: var(--smoke);
    --box-shadow: none;

    --border-h: var(--primary-d);
    --background-h: transparent;
    --color-h: white;
    --box-shadow-h: 0 0 15px 0 rgba(0, 170, 226, 0.7);
  }
}

.btn-play {
  --border: rgba(245, 247, 250, 0.5);
  --background: linear-gradient(
    196deg,
    rgba(0, 245, 255, 0.3) 0%,
    rgba(0, 134, 255, 0.3) 100%
  );
  --color: white;

  display: block;
  cursor: pointer;
  width: 100px;
  height: 100px;
  -webkit-tap-highlight-color: transparent;

  @include tablet {
    width: 70px;
    height: 70px;
  }
  @include hover {
    .circle {
      backdrop-filter: blur(5px);
    }
  }

  .circle {
    @include flex-center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--color);
    background: var(--background);
    border: 1px solid var(--border);
    backdrop-filter: blur(15px);

    transition:
      color 0.3s ease,
      background 0.3s ease,
      backdrop-filter 0.3s ease,
      border-color 0.3s ease;
  }

  svg {
    width: 28px;
    height: 28px;

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
}

.btn-more {
  width: 100%;
  margin-top: 40px;
  @include laptop-min {
    margin-top: 30px;
  }

  &[disabled] {
    pointer-events: none;
  }
}

.btn-simple {
  display: block;
  width: fit-content;
  cursor: pointer;

  font-size: 15px;
  line-height: 130%;
  text-decoration: underline;
  text-underline-offset: 2px;

  color: var(--primary);

  @include hover {
    text-decoration: none;
  }
}
