@use "../base/templates" as *;
@use "../base/media" as *;

.s-nav {
  overflow: visible !important;
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 30px;
  }
  &__item {
    --background: var(--light);
    --background-h: var(--primary);
    --border: var(--light);
    --border-h: var(--primary);
    --color: var(--black);
    --color-h: white;
    --box-shadow: none;
    --box-shadow-h: none;

    cursor: pointer;
    border-radius: 50px;
    padding: 15px 20px;
    width: fit-content;
    background-color: var(--background);
    border: 1px solid var(--border);
    box-shadow: var(--box-shadow);

    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: var(--color);

    transition:
      color 0.3s ease,
      background-color 0.3s ease,
      border-color 0.3s ease,
      box-shadow 0.3s ease;

    @include hover {
      background-color: var(--background-h);
      color: var(--color-h);
      border-color: var(--border-h);
      box-shadow: var(--box-shadow-h);
    }
    @include tablet {
      padding: 12px 16px;
    }
    &._active {
      pointer-events: none;
      background-color: var(--background-h);
      color: var(--color-h);
      border-color: var(--border-h);
      box-shadow: var(--box-shadow-h);
    }

    &._dark {
      --background: rgba(26, 29, 34, 0.7);
      --background-h: rgba(26, 29, 34, 0.7);
      --border: rgba(255, 255, 255, 0.1);
      --border-h: var(--blue-d);
      --color: white;
      --color-h: white;
      --box-shadow: none;
      --box-shadow-h: 0 0 15px 0 rgba(0, 170, 226, 0.7);
    }
  }
}
