@use "../base/templates" as *;
@use "../base/media" as *;

.m-title {
  font-family: "KanitCyrillic", sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  margin: 0;
  line-height: 110%;

  @include desktop-big {
    font-size: 52px;
  }
  @include laptop-min {
    font-size: 42px;
  }
  @include tablet {
    font-size: 28px;
  }
}

.s-title {
  font-family: "KanitCyrillic", sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-transform: uppercase;
  margin: 0;
  line-height: 110%;

  @include desktop-big {
    font-size: 36px;
  }
  @include laptop-min {
    font-size: 32px;
  }
  @include tablet {
    font-size: 24px;
  }
}

.t-title {
  font-family: "KanitCyrillic", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  margin: 0;
  line-height: 110%;
  text-transform: uppercase;

  @include laptop {
    font-size: 20px;
  }
  @include tablet {
    font-size: 18px;
  }
}
